<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tienda?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="cr/ac/una/fucem/inge/hawac/domain/Abono.hbm.xml"/>
    <mapping resource="cr/ac/una/fucem/inge/hawac/domain/Apartadoproducto.hbm.xml"/>
    <mapping resource="cr/ac/una/fucem/inge/hawac/domain/Usuario.hbm.xml"/>
    <mapping resource="cr/ac/una/fucem/inge/hawac/domain/Apartado.hbm.xml"/>
    <mapping resource="cr/ac/una/fucem/inge/hawac/domain/Factura.hbm.xml"/>
    <mapping resource="cr/ac/una/fucem/inge/hawac/domain/Linea.hbm.xml"/>
    <mapping resource="cr/ac/una/fucem/inge/hawac/domain/Producto.hbm.xml"/>
    <mapping resource="cr/ac/una/fucem/inge/hawac/domain/Cliente.hbm.xml"/>
    <mapping resource="cr/ac/una/fucem/inge/hawac/domain/Bitacora.hbm.xml"/>
    <mapping resource="cr/ac/una/fucem/inge/hawac/domain/Dependiente.hbm.xml"/>
    <mapping resource="cr/ac/una/fucem/inge/hawac/domain/Inventario.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
